body {
    background-color: #1c1c1c; /* Mat siyah */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;;
}

header {
    box-sizing: border-box;
    background-color: #1c1c28; /* Lacivert */
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    color: #ffffff;
}

nav {
    background-color: #150c1b; /* Mor */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0px;
    text-decoration: none;
}

.container {
    
    display: flex; 
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    margin: 80px 0px 0px 0px;
}

.section {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: rgb(41, 41, 41);
    border: #ffffff 1px solid;
    border-radius: 5px;
    width: 1200px;

}

.section h2 {
    color: #4b0082; /* Mor */
    margin: 50px 0px 0px 50px;
}
.section p {
    color: #ffffff;
    padding: 50px;
}
footer {
    background-color: #525252; /* Lacivert */
    padding: 10px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}